
# **Data Structure In Python**

## **List**

List is an orderly or organized data structure
and mutable, lists allow duplicate or duplicate data.
In python lists use square brackets "[]".

### Accessing data on the List
In addition, to access certain data, the syntax can be changed
by replacing the index number, here is an example
access multiple data at once using index on list:

In [74]:
bu = [7,8.6,"mentor",788,87,"student",1100,3.14,8880,"banana"]

In [75]:
print(bu)

[7, 8.6, 'mentor', 788, 87, 'student', 1100, 3.14, 8880, 'banana']

In [76]:
print(len(bu))

10

In [77]:
print(bu[1])

8.6

In [78]:
print(bu[-1])

banana

In [79]:
print(bu[2:5])

['mentor', 788, 87]

In [80]:
print(bu[:4])

[7, 8.6, 'mentor', 788]

In [81]:
print(bu[2:])

['mentor', 788, 87, 'student', 1100, 3.14, 8880, 'banana']

In [82]:
bu[2] = "blackcurrant"

In [83]:
print(bu)

[7, 8.6, 'blackcurrant', 788, 87, 'student', 1100, 3.14, 8880, 'banana']

In [84]:
bu[1:3] = ["watermelon"]

From the source code above it will output a new list with
the following conditions:



*   Will access or select items from position 2 to 5

*   Jika tidak diberi nilai awal maka range akan dimulai 
dari data paling pertama. Misal “print(bu[:10])” 
akan membuat output mulai dari data pertama 
sampai ke-10
*   If not given a final value then the range will be
starting with the very first data, for example
“print(bu[8:])” will make output starting from
2nd data to the last data.

In [85]:
bu.insert(2, "watermelon")

In [86]:
du = [8, "pineapple", 8.98]

In [87]:
print(bu)

[7, 'watermelon', 'watermelon', 788, 87, 'student', 1100, 3.14, 8880, 'banana']

In [88]:
cu=du+bu
print(cu)

[8, 'pineapple', 8.98, 7, 'watermelon', 'watermelon', 788, 87, 'student', 1100, 3.14, 8880, 'banana']

In [89]:
bu.extend(du)

In [90]:
print(bu)

[7, 'watermelon', 'watermelon', 788, 87, 'student', 1100, 3.14, 8880, 'banana', 8, 'pineapple', 8.98]

In [91]:
bu.remove("student")

In [92]:
print(bu)

[7, 'watermelon', 'watermelon', 788, 87, 1100, 3.14, 8880, 'banana', 8, 'pineapple', 8.98]

In [93]:
bu.pop(1)

'watermelon'

In [94]:
print(bu)

[7, 'watermelon', 788, 87, 1100, 3.14, 8880, 'banana', 8, 'pineapple', 8.98]

In [95]:
bu.pop()

8.98

In [96]:
del bu[4]

In [97]:
print(bu)

[7, 'watermelon', 788, 87, 3.14, 8880, 'banana', 8, 'pineapple']

In [98]:
bu.reverse()

In [99]:
list = [100, 50, 65, 82, 23]

In [100]:
list.sort()

In [101]:
print(list)

[23, 50, 65, 82, 100]

In [102]:
print(type(list))

<class 'list'>

Adding data to the list
To add data to the list, you can:
using the .append() function,Removing data from the list
To delete data from the list, you can use
function .remove(),Merge two lists into one,Sort the data in the list and more in the above function

## **Tuple**

A tuple is a data structure similar to a list.
Tuples can contain various data types, and their elements have indexes. Elements of a tuple
separated by a comma. In Python, tuples are written
Use brackets "()". There are two general types of tuples that can be formed.
That is, a tuple with one data type and a tuple with a data type
mixture. To better understand how to make both
the tuple form, consider the following source code; tuple
with one data type:

In [103]:
n = (5,3,"table",5.5,8,10,20,"chair",32,41)

In [104]:
evennums = (2,4,6,8,10)
print(evennums)
otuple = sorted(evennums)
print(otuple)

(2, 4, 6, 8, 10)
[2, 4, 6, 8, 10]

In [105]:
tupleofword =("python","is","great")

In [106]:
print(tupleofword)

('python', 'is', 'great')

In [107]:
del tupleofword 
print("Clear")

Clear

Tuples are immutable. What it means is that we can't change
elements of the tuple after initialization. To access each element
in a tuple, we use index. There is 1 way to access
elements in a tuple, including the following:

In [108]:
print(n[1])

3

In [109]:
print(n[0:2])

(5, 3)

In [110]:
print(type(n))

<class 'tuple'>

when using the command to replace a variable in the use of tuples, the process of the system will not run, this is because the tuple itself has a list type that cannot be changed or replaced. as follows:

## **SET**

A set is a data structure that is disorganized or organized
and has no index thus making it inaccessible
by using index, on set not allow member
duplicate or duplicate. In python set is usually used for
perform mathematical set operations such as joins, slices,
difference, etc. Sets are written using curly brackets "{}".
In addition, the data in a set cannot be changed after
set is created, but can add data or delete data in
a set.

In [111]:
i={2,2,"a","y","a","m",10,10,9,2}
print(i)

{2, 'y', 9, 10, 'a', 'm'}

In [112]:
print(type(i))

<class 'set'>

In [113]:
i.add("u")
print(i)

{2, 'y', 9, 10, 'a', 'm', 'u'}

In [114]:
i.update(["t",3])
print(i)

{'t', 2, 'y', 3, 9, 10, 'a', 'm', 'u'}

In [115]:
i.remove("a")
print(i)

{'t', 2, 'y', 3, 9, 10, 'm', 'u'}

In [116]:
i.pop()
print(i)

{2, 'y', 3, 9, 10, 'm', 'u'}

In [117]:
i.clear()
print(i)

set()

## **Dictionary**

Dictionary is a more complex data structure than
everything else (list, tuple, set). What distinguishes a dictionary from
Another data structure is that the elements in the dictionary are pairs
keys and values. As for other data structures, it is only the value of
single.dictionary if interpreted in Indonesian means
dictionary. The concept in programming is also the same as when we
using a dictionary in the real world, we will look up words with
a keyword that is the alphabet located on a dictionary sheet. On
In Python we find the value of a dictionary element with
based on the key that is connected to the value we are looking for.
Keys in a dictionary can be of any data type. Can
use integers or strings. Take a look at the manufacturing example
a dictionary below:

In [118]:
biodata= {"name":"alwi","age":21,"address":"Jl. Pemuda, Mojoroto, Kediri",
"tall":165.5,"weight":67,"education":"Telkom univesity",
    "major":"computer engginering","NiM":11031930,"hobby":["eat","traveling"],"ambition":["becomes  a successful person ","becomes a useful person"]}

In [119]:
biodata["name"]

'alwi'

In [120]:
biodata["age"]

21

In [121]:
biodata["address"]

'Jl. Pemuda, Mojoroto, Kediri'

In [122]:
biodata["tall"]

165.5

In [123]:
biodata["weight"]

67

In [124]:
biodata["education"]

'Telkom univesity'

In [125]:
biodata["major"]

'computer engginering'

In [127]:
biodata["NiM"]

11031930

In [128]:
biodata["hobby"]

['eat', 'traveling']

In [129]:
biodata["ambition"]

['becomes  a successful person ', 'becomes a useful person']

In [130]:
biodata.update({'age': 20})
print(biodata)

{'name': 'alwi', 'age': 20, 'address': 'Jl. Pemuda, Mojoroto, Kediri', 'tall': 165.5, 'weight': 67, 'education': 'Telkom univesity', 'major': 'computer engginering', 'NiM': 11031930, 'hobby': ['eat', 'traveling'], 'ambition': ['becomes  a successful person ', 'becomes a useful person']}

In [131]:
biodata["favolit_color"] = "red"
biodata["status"] = "single"
print(biodata)

{'name': 'alwi', 'age': 20, 'address': 'Jl. Pemuda, Mojoroto, Kediri', 'tall': 165.5, 'weight': 67, 'education': 'Telkom univesity', 'major': 'computer engginering', 'NiM': 11031930, 'hobby': ['eat', 'traveling'], 'ambition': ['becomes  a successful person ', 'becomes a useful person'], 'favolit_color': 'red', 'status': 'single'}

In [132]:
biodata.update({"hobby": ['eat','traveling','game']})
print(biodata)

{'name': 'alwi', 'age': 20, 'address': 'Jl. Pemuda, Mojoroto, Kediri', 'tall': 165.5, 'weight': 67, 'education': 'Telkom univesity', 'major': 'computer engginering', 'NiM': 11031930, 'hobby': ['eat', 'traveling', 'game'], 'ambition': ['becomes  a successful person ', 'becomes a useful person'], 'favolit_color': 'red', 'status': 'single'}

In [133]:
biodata.pop("status")

'single'

In [134]:
biodata.popitem()

('favolit_color', 'red')

In [135]:
biodata.clear()
biodata

{}